@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #22D4FD;
    --cor-hover: #272727;
}

* {
    margin:0;
    padding: 0;
    text-decoration: none;
}

.cabecalho {
    padding: 4% 0% 0% 5%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: 'Montserrat', sans-serif;    
    font-size: 1.5rem;
    color: var(--cor-terciaria);
    font-weight: 600;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.apresentacao {
    padding: 8% 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-family: "Krona One", sans-serif;
    font-size: 2.25rem;
}

.apresentacao__conteudo__titulo2 {
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__paragrafo {
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    text-align: justify;
}

.apresentacao__botoes {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 32px;
}

.apresentacao__botoes__titulo {
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao__botoes__1 {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    width: 62%;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 16px 0;
    color: var(--cor-secundaria);
    font-family: 'Montserrat', sans-serif;
}

.apresentacao__botoes__1:hover {
    background-color: var(--cor-hover);
}

.apresentacao__botoes__2 {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    width: 62%;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 16px 0;
    color: var(--cor-secundaria);
    font-family: 'Montserrat', sans-serif;
}

.apresentacao__botoes__2:hover {
    background-color: var(--cor-hover);
}

.apresentacao__imagem {
    width: 45%;
}

.rodape {
    background-color: var(--cor-terciaria);
    color: var(--cor-primaria); 
    padding: 24px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
}

@media (max-width: 800px) {
    .cabecalho {
        padding: 10% 0% 2% 0%;
    }

    .cabecalho__menu {
        justify-content: center;
    }
    
    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }   
    
    .apresentacao__conteudo {
        width: auto;
    }

    .apresentacao__imagem {
        padding: 0% 0% 6% 0%;
    }
}
